<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Middle School Quiz</title>

    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="/js/getQuestion.js"></script>
    <script src="/js/nextQuestion.js"></script>
  </head>

  <body>
    <h1>Can you guess the correct answer?</h1>

    <p>Your question is:
      <span id="question">
        <%= @question %>
      </span>
    </p>

    <form id="answers">
      <% @options.each do |option|%>
        <input type="radio" name="option" value=<%= option %>> <%= option %> <br>
      <% end %>
      <button id="next-question" disabled>Next Question</button>
    </form>

    <p id="answer" hidden> <%= @answer %> </p>

  </body>
</html>
