<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Middle School Quiz</title>

  </head>

  <body>
    <h1>Can you guess the correct answer?</h1>

    <div id="test_data">
      <div id="question_count">1</div>
      <div id="correct_count">0</div>
      <div id="incorrect_count">0</div>
    </div>

    <p>Your question is:
      <span id="question">
        <%= @question %>
      </span>
    </p>

    <form id="form">
      <div id="answers">
        <% @options.each do |option|%>
        <input type="radio" name="answerButtons" class="answerButtons" value=<%= option %> /><%= option %><br>
        <% end %>
      </div>
      <button type="button" id="next-question" disabled>Next Question</button>
    </form>

    <p id="answer" hidden><%= @answer %></p>

    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="/js/getQuestion.js"></script>
    <script src="/js/nextQuestion.js"></script>
  </body>
</html>
